<!DOCTYPE html>
<html>
  <head>
    <title>Age Classifier</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body class="body-upload">
    <div id="box">
      <div class="header">
        <h1>¿De qué edad parezco?</h1>
        <h4>Descúbrelo ahora subiendo tu foto</h4>
      </div>
      <div class="div-content">
        <form class ="form" action="/final-result" method="POST" enctype="multipart/form-data">
            <span class="form-icon">
                <ion-icon name="cloud-upload-outline"></ion-icon>
            </span>
            <label for="file-input" class="drop-container">
                <span class="drop-title">Pega aquí tu imagen</span>
                or
                <input type="file" id="file-input" name="file" accept="image/*" required>
            </label>
            <input type="submit" value="Subir">
        </form>
      </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
